@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negroFondo: #100f0f;
  --blancoTitulos: rgba(179, 179, 179, 0.904);
  --blancoParrafos: rgba(255, 255, 255, 0.678);
  --fuenteTitulos: "Studio Grotesk Bold";
  --fuenteParrafos: "Studio Grotesk Regular";
  --colorInicio: rgb(148, 148, 148);
  --colorTextStroke: #3772a9;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong, a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Monument Extendend Regular";
  src: url("../../tipografias/MonumentExtended-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "Studio Grotesk Bold";
  src: url("../../tipografias/StudioGrotesk-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Studio Grotesk Regular";
  src: url("../../tipografias/StudioGrotesk-Regular.ttf");
  font-display: swap;
}
.body {
  background-color: var(--negroFondo);
  cursor: url("../assets/punto_cursor.png"), default;
  overflow-x: hidden;
}

.raton {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #5580a93c;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  pointer-events: none;
  margin: -0.6em;
  z-index: 10;
  opacity: 0.7;
}
.raton.activo {
  width: 4em;
  height: 4em;
  margin: -2em;
}

.circulos {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.circulos__circulo1 {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #7995af;
  top: calc(50% - 15em);
  left: calc(45% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo1 30s infinite linear;
          animation: trasladarCirculo1 30s infinite linear;
  z-index: 2;
  opacity: 0.6;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.circulos__circulo2 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #c5581e;
  top: 32%;
  right: calc(45% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo2 30s infinite linear;
          animation: trasladarCirculo2 30s infinite linear;
  z-index: 2;
  opacity: 0.6;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.circulos__circulo2.activo {
  background-color: #3772a9;
}
.circulos__circulo2.activoLight {
  background-color: #8c088c;
}
.circulos__circulo3 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #929aa2;
  top: calc(45% - 15em);
  right: calc(50% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo3 30s infinite linear;
          animation: trasladarCirculo3 30s infinite linear;
  opacity: 0.6;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.nav {
  width: 100%;
  max-width: 80em;
  margin: auto;
  z-index: 6;
  position: fixed;
  top: 0;
  left: calc(50% - 40em);
  margin: 1em 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav.activo {
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
}
.nav__ul {
  width: 100%;
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__li {
  width: 25%;
  text-transform: uppercase;
  font-family: var(--fuenteParrafos);
  font-size: 1.1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__li.texto.activo {
  opacity: 1;
  font-size: 1.2em;
}
.nav__rrss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__a {
  font-size: 1.2em;
  color: var(--blancoTitulos);
}
.nav__logo {
  width: 100%;
}
.nav__img {
  width: 20%;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__img.activo {
  opacity: 1;
  width: 22%;
}

.inicio {
  width: 100%;
  height: 100vh;
}
.inicio__titulos {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inicio__h1 {
  font-family: var(--fuenteTitulos);
  color: var(--negroFondo);
  font-size: 5em;
  opacity: 0.8;
}
.inicio__h2 {
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
  font-size: 3em;
  z-index: 1;
  opacity: 0.8;
}
.inicio__img {
  width: 100%;
  height: 60vh;
  position: fixed;
  top: calc(50% - 30vh);
  left: 0;
  opacity: 0.6;
  -webkit-filter: blur(1em);
          filter: blur(1em);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.inicio__img.activo {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.about {
  width: 100%;
  min-height: 100%;
}
.about__h2 {
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
  text-transform: uppercase;
  margin: 5em 0 5em 0;
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.about__h2.activo {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(5%);
          transform: translateY(0) translateX(5%);
}
.about__h2.activoArriba {
  opacity: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}
.about__informacion {
  width: 100%;
  min-height: 100%;
}
.about__parrafo {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__tecnologias {
  font-family: var(--fuenteTitulos);
  text-transform: uppercase;
  font-size: 3.5em;
  color: var(--blancoParrafos);
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin: 0.5em 0 0 0;
}
.about__tecnologias:first-child {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.about__tecnologias:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.about__tecnologias:nth-child(3) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.about__tecnologias:nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.about__tecnologias.activo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.about__descripcion {
  width: 100%;
  max-width: 35em;
  height: 100%;
  margin: 15em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
.about__descripcion.activo {
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.about__saludo {
  font-family: var(--fuenteTitulos);
  font-size: 2.5em;
  color: var(--blancoTitulos);
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about__saludo.activo {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(40%);
          transform: translateY(0) translateX(40%);
}
.about__estudios {
  width: 100%;
  font-family: var(--fuenteParrafos);
  font-size: 2em;
  color: var(--blancoParrafos);
  text-align: center;
  margin: 2em 0 0 0;
  opacity: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 0.05em;
}
.about__estudios.activoIzq {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(-25%);
          transform: translateY(0) translateX(-25%);
}
.about__derecha {
  width: 100%;
  font-family: var(--fuenteParrafos);
  font-size: 2em;
  color: var(--blancoParrafos);
  text-align: center;
  margin: 2em 0 0 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 0.05em;
}
.about__derecha.activoIzq {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(25%);
          transform: translateY(0) translateX(25%);
}

.trabajos {
  width: 100%;
  max-width: 40em;
  min-height: 100%;
  margin: 10em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trabajos__h2 {
  font-size: 3em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.trabajos__h2.activo {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.trabajos__p {
  font-size: 2em;
  font-family: var(--fuenteParrafos);
  color: var(--blancoParrafos);
  position: relative;
  cursor: pointer;
  margin: 1em 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}
.trabajos__p.activo {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.trabajos__p:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 90%;
  height: 2px;
  background-color: var(--blancoTitulos);
  -webkit-animation: lineaTitu 1s both;
          animation: lineaTitu 1s both;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.lightbox {
  width: 100%;
  max-width: 90em;
  height: 60vh;
  position: fixed;
  top: calc(50% - 30vh);
  left: calc(50% - 45em);
  background-color: #1d1d1d;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 2em;
  -webkit-backdrop-filter: blur(2em);
          backdrop-filter: blur(2em);
}
.lightbox.activo {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.lightbox__boton {
  cursor: pointer;
  width: 1em;
  height: 1em;
  color: white;
  font-size: 4em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1;
}
.lightbox__linea {
  width: 100%;
  height: 10px;
  background-color: black;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
}
.lightbox__index {
  width: 100%;
  min-height: 20%;
  background-color: gray;
  position: relative;
}

.portfolio {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s linear 1s;
  transition: all 1s linear 1s;
  position: relative;
}
.portfolio.activo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}
.portfolio__img.activo {
  opacity: 1;
}
.portfolio__diseno {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolio__h3 {
  font-size: 1.8em;
  font-family: var(--fuenteTitulos);
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 0 0 2em;
  text-transform: uppercase;
}
.portfolio__a {
  font-family: var(--fuenteParrafos);
  color: var(--blancoParrafos);
  margin: 0 0 2em 2em;
  font-size: 2em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid var(--blancoParrafos);
  padding: 0.3em;
  border-radius: 0.1em;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio__a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: transparent;
  -webkit-text-stroke: 0.02em var(--colorTextStroke);
  text-shadow: 0 0 1px var(--colorTextStroke), 0 0 2px var(--colorTextStroke), 0 0 3px var(--colorTextStroke), 0 0 4px var(--colorTextStroke), 0 0 5px var(--colorTextStroke);
  color: transparent;
  border: 1px solid var(--colorTextStroke);
}
.portfolio__proyecto {
  width: 50%;
  height: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.portfolio__h2 {
  font-size: 2.5em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-transform: uppercase;
}
.portfolio__index {
  font-size: 0.6em;
  color: var(--blancoParrafos);
}
.portfolio__p {
  font-size: 1.5em;
  font-weight: 400;
  width: 60%;
  font-family: var(--fuenteParrafos);
  color: var(--blancoParrafos);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.footer {
  width: 100%;
  height: 4vh;
  max-width: 80em;
  margin: 2em auto 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__correo {
  width: 70%;
  height: 100%;
  font-family: var(--fuenteParrafos);
  color: white;
  font-size: 1.2em;
  opacity: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer__correo.activo {
  opacity: 0.8;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.footer__rrss {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}
.footer__rrss.activo {
  opacity: 0.8;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.footer__img {
  width: 15%;
  height: 100%;
  color: white;
}

@-webkit-keyframes trasladarCirculo1 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(10%) translateY(0) scale(1.4);
            transform: translateX(10%) translateY(0) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(20%) translateY(0) scale(1.6);
            transform: translateX(20%) translateY(0) scale(1.6);
  }
  75% {
    -webkit-transform: translateX(10%) translateY(0) scale(1.4);
            transform: translateX(10%) translateY(0) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}

@keyframes trasladarCirculo1 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(10%) translateY(0) scale(1.4);
            transform: translateX(10%) translateY(0) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(20%) translateY(0) scale(1.6);
            transform: translateX(20%) translateY(0) scale(1.6);
  }
  75% {
    -webkit-transform: translateX(10%) translateY(0) scale(1.4);
            transform: translateX(10%) translateY(0) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}
@-webkit-keyframes trasladarCirculo2 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-10%) translateY(0) scale(1.4);
            transform: translateX(-10%) translateY(0) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(-20%) translateY(0) scale(1.2);
            transform: translateX(-20%) translateY(0) scale(1.2);
  }
  75% {
    -webkit-transform: translateX(-10%) translateY(0) scale(1.4);
            transform: translateX(-10%) translateY(0) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}
@keyframes trasladarCirculo2 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-10%) translateY(0) scale(1.4);
            transform: translateX(-10%) translateY(0) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(-20%) translateY(0) scale(1.2);
            transform: translateX(-20%) translateY(0) scale(1.2);
  }
  75% {
    -webkit-transform: translateX(-10%) translateY(0) scale(1.4);
            transform: translateX(-10%) translateY(0) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}
@-webkit-keyframes trasladarCirculo3 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(0) translateY(5%) scale(1.4);
            transform: translateX(0) translateY(5%) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(0) translateY(10%) scale(1.6);
            transform: translateX(0) translateY(10%) scale(1.6);
  }
  75% {
    -webkit-transform: translateX(0) translateY(5%) scale(1.4);
            transform: translateX(0) translateY(5%) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}
@keyframes trasladarCirculo3 {
  0% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(0) translateY(5%) scale(1.4);
            transform: translateX(0) translateY(5%) scale(1.4);
  }
  50% {
    -webkit-transform: translateX(0) translateY(10%) scale(1.6);
            transform: translateX(0) translateY(10%) scale(1.6);
  }
  75% {
    -webkit-transform: translateX(0) translateY(5%) scale(1.4);
            transform: translateX(0) translateY(5%) scale(1.4);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) scale(1);
            transform: translateX(0) translateY(0) scale(1);
  }
}
@-webkit-keyframes lineaTitu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes lineaTitu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}