@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negroFondo: #100f0f;
  --blancoTitulos: rgba(255, 255, 255, 0.904);
  --blancoParrafos: rgba(255, 255, 255, 0.678);
  --fuenteTitulos: "Studio Grotesk Bold";
  --fuenteParrafos: "Studio Grotesk Regular";
  --colorInicio: rgb(148, 148, 148);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong, a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Monument Extendend Regular";
  src: url("../../tipografias/MonumentExtended-Regular.otf");
  font-display: swap;
}
@font-face {
  font-family: "Studio Grotesk Bold";
  src: url("../../tipografias/StudioGrotesk-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Studio Grotesk Regular";
  src: url("../../tipografias/StudioGrotesk-Regular.ttf");
  font-display: swap;
}
.body {
  background-color: var(--negroFondo);
  overflow-x: hidden;
}

.circulos {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.circulos.activo {
  opacity: 0;
}
.circulos__circulo1 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #318d57;
  top: 35%;
  left: calc(45% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo1 10s infinite linear;
          animation: trasladarCirculo1 10s infinite linear;
  z-index: 2;
  opacity: 0.6;
}
.circulos__circulo2 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #49a7c4d0;
  top: 32%;
  right: calc(45% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo2 10s infinite linear;
          animation: trasladarCirculo2 10s infinite linear;
  z-index: 2;
  opacity: 0.6;
}
.circulos__circulo3 {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  background-color: #ac2568;
  top: calc(45% - 15em);
  right: calc(50% - 15em);
  position: absolute;
  -webkit-animation: trasladarCirculo3 10s infinite linear;
          animation: trasladarCirculo3 10s infinite linear;
  opacity: 0.6;
}

.nav {
  width: 100%;
  max-width: 80em;
  min-height: 6vh;
  margin: auto;
  z-index: 6;
  position: fixed;
  top: 0;
  left: calc(50% - 40em);
  margin: 1em 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.nav.activo {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.nav__ul {
  width: 100%;
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__li {
  width: 25%;
  text-transform: uppercase;
  font-family: var(--fuenteParrafos);
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.nav__li.activoTexto {
  font-family: var(--fuenteTitulos);
  opacity: 1;
}
.nav__li.activoSvg {
  opacity: 1;
}
.nav__rrss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__a {
  font-size: 1.2em;
  color: var(--blancoTitulos);
}
.nav__logo {
  width: 100%;
}
.nav__img {
  width: 20%;
}

.inicio {
  width: 100%;
  height: 94vh;
}
.inicio__titulos {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inicio__h1 {
  font-size: 3em;
  color: var(--negroFondo);
  font-family: var(--fuenteTitulos);
  z-index: 3;
}
.inicio__h2 {
  font-size: 2em;
  color: var(--negroFondo);
  font-family: var(--fuenteTitulos);
  text-transform: uppercase;
  margin: 1em 0;
  z-index: 3;
}
.inicio__img {
  width: 12%;
  z-index: 3;
}

.about {
  width: 100%;
  min-height: 100%;
}
.about__h2 {
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
  text-transform: uppercase;
  margin: 5em 0 5em 0;
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.about__h2.activo {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(5%);
          transform: translateY(0) translateX(5%);
}
.about__informacion {
  width: 100%;
  min-height: 100%;
}
.about__parrafo {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__tecnologias {
  font-family: var(--fuenteTitulos);
  text-transform: uppercase;
  font-size: 3.5em;
  color: var(--blancoParrafos);
  text-align: center;
  letter-spacing: 0.1em;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin: 0.5em 0 0 0;
}
.about__tecnologias:first-child {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.about__tecnologias:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.about__tecnologias:nth-child(3) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.about__tecnologias:nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.about__tecnologias.activo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.about__descripcion {
  width: 100%;
  max-width: 35em;
  height: 100%;
  margin: 15em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}
.about__saludo {
  font-family: var(--fuenteTitulos);
  font-size: 2.5em;
  color: var(--blancoTitulos);
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about__saludo.activo {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(40%);
          transform: translateY(0) translateX(40%);
}
.about__estudios {
  width: 100%;
  font-family: var(--fuenteParrafos);
  font-size: 2em;
  color: var(--blancoParrafos);
  text-align: center;
  margin: 2em 0 0 0;
  opacity: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 0.05em;
}
.about__estudios.activoIzq {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(-25%);
          transform: translateY(0) translateX(-25%);
}
.about__derecha {
  width: 100%;
  font-family: var(--fuenteParrafos);
  font-size: 2em;
  color: var(--blancoParrafos);
  text-align: center;
  margin: 2em 0 0 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: 0.05em;
}
.about__derecha.activoIzq {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(25%);
          transform: translateY(0) translateX(25%);
}

.trabajos {
  width: 100%;
  min-height: 100%;
}
.trabajos__h2 {
  font-size: 2em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
}

.portfolio {
  width: 100%;
  min-height: 30vh;
  margin: 8em 0 0 0;
}
.portfolio__informacion {
  width: 100%;
  max-width: 95em;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}
.portfolio__diseno {
  width: 50%;
}
.portfolio__h3 {
  font-size: 2em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
}
.portfolio__proyecto {
  width: 50%;
}
.portfolio__h2 {
  font-size: 2em;
  font-family: var(--fuenteTitulos);
  color: var(--blancoTitulos);
}
.portfolio__index {
  font-family: var(--fuenteTitulos);
  color: var(--blancoParrafos);
}
.portfolio__p {
  font-size: 1.2em;
  font-family: var(--fuenteParrafos);
  color: var(--blancoParrafos);
}

.footer {
  width: 100%;
  height: 4vh;
  max-width: 80em;
  margin: 2em auto 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__correo {
  width: 70%;
  height: 100%;
  font-family: var(--fuenteParrafos);
  color: white;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer__correo.activo {
  opacity: 0.8;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.footer__rrss {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__img {
  width: 100%;
  height: 100%;
  color: white;
}

@-webkit-keyframes trasladarCirculo1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #318d57;
  }
  25% {
    -webkit-transform: translateX(10%) translateY(0);
            transform: translateX(10%) translateY(0);
    opacity: 0.8;
  }
  33% {
    background-color: #49a7c4d0;
  }
  50% {
    -webkit-transform: translateX(20%) translateY(0);
            transform: translateX(20%) translateY(0);
    opacity: 0.9;
  }
  66% {
    background-color: #318d57;
  }
  75% {
    -webkit-transform: translateX(10%) translateY(0);
            transform: translateX(10%) translateY(0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #ac2568;
  }
}

@keyframes trasladarCirculo1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #318d57;
  }
  25% {
    -webkit-transform: translateX(10%) translateY(0);
            transform: translateX(10%) translateY(0);
    opacity: 0.8;
  }
  33% {
    background-color: #49a7c4d0;
  }
  50% {
    -webkit-transform: translateX(20%) translateY(0);
            transform: translateX(20%) translateY(0);
    opacity: 0.9;
  }
  66% {
    background-color: #318d57;
  }
  75% {
    -webkit-transform: translateX(10%) translateY(0);
            transform: translateX(10%) translateY(0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #ac2568;
  }
}
@-webkit-keyframes trasladarCirculo2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #49a7c4d0;
  }
  25% {
    -webkit-transform: translateX(-10%) translateY(0);
            transform: translateX(-10%) translateY(0);
    opacity: 0.8;
  }
  33% {
    background-color: #318d57;
  }
  50% {
    -webkit-transform: translateX(-20%) translateY(0);
            transform: translateX(-20%) translateY(0);
    opacity: 0.9;
  }
  66% {
    background-color: #ac2568;
  }
  75% {
    -webkit-transform: translateX(-10%) translateY(0);
            transform: translateX(-10%) translateY(0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #49a7c4d0;
  }
}
@keyframes trasladarCirculo2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #49a7c4d0;
  }
  25% {
    -webkit-transform: translateX(-10%) translateY(0);
            transform: translateX(-10%) translateY(0);
    opacity: 0.8;
  }
  33% {
    background-color: #318d57;
  }
  50% {
    -webkit-transform: translateX(-20%) translateY(0);
            transform: translateX(-20%) translateY(0);
    opacity: 0.9;
  }
  66% {
    background-color: #ac2568;
  }
  75% {
    -webkit-transform: translateX(-10%) translateY(0);
            transform: translateX(-10%) translateY(0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
    background-color: #49a7c4d0;
  }
}
@-webkit-keyframes trasladarCirculo3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
  }
  25% {
    -webkit-transform: translateX(0) translateY(5%);
            transform: translateX(0) translateY(5%);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: translateX(0) translateY(10%);
            transform: translateX(0) translateY(10%);
    opacity: 0.9;
  }
  75% {
    -webkit-transform: translateX(0) translateY(5%);
            transform: translateX(0) translateY(5%);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
  }
}
@keyframes trasladarCirculo3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
  }
  25% {
    -webkit-transform: translateX(0) translateY(5%);
            transform: translateX(0) translateY(5%);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: translateX(0) translateY(10%);
            transform: translateX(0) translateY(10%);
    opacity: 0.9;
  }
  75% {
    -webkit-transform: translateX(0) translateY(5%);
            transform: translateX(0) translateY(5%);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0.7;
  }
}