@import 'reset/variables' , 'reset/reset' , 'reset/mixins' , 'reset/keyframes';

.body {
    background-color: var(--negroFondo);
    cursor: url("../assets/punto_cursor.png"), default;
    overflow-x: hidden;
}

// .cookies {
//     width: 100%;
//     max-width: 30em;
//     height: 20vh;
//     background-color: gray;
//     position: fixed;
//     bottom: 20%;
//     right: 0;
//     @include flex (column nowrap , space-around , center);
//     transform: translateX(0);
//     transition: all .5s ease;
//     z-index: 1;
//     &.activo {
//         transform: translateX(101%);
//     }
//     &__p {

//     }
//     &__button {
//         background-color: green;
//         padding: .5em 1.2em;
//     }
// }

.raton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #5580a92c;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    margin: -.60em;
    z-index: 10;
    opacity: .7;
    transition: all 0.1s linear;
    &.activo {
        width: 4em;
        height: 4em;
        margin: -2em;
        background-color: transparent;
    }
}

.circulos {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    // opacity: 0;
    transition: all 1s ease;
    &__circulo1{
        width: 25em;
        height: 25em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: #7995af;
        top: calc(50% - 15em);
        left: calc(45% - 15em);
        position: absolute;
        animation: trasladarCirculo1 30s infinite linear;
        z-index: 2;
        opacity: .6;
        transition: all 1.5s ease;
      } &__circulo2{
        width: 30em;
        height: 30em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: var(--circuloInicio);
        top: 32%;
        right: calc(45% - 15em);
        position: absolute;
        animation: trasladarCirculo2 30s infinite linear;
        z-index: 2;
        opacity: .5;
        transition: all .5s ease;
        &.activo {
            background-color: var(--circuloAbout);
        }
        &.activoLight {
            background-color: var(--circuloWorks);
        }
    } &__circulo3{
        width: 30em;
        height: 30em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: #929aa2;
        top: calc(45% - 15em);
        right: calc(50% - 15em);
        position: absolute;
        animation: trasladarCirculo3 30s infinite linear;
        opacity: .6;
        transition: all 1.5s ease;
      }
}

.menu {
    width: 100%;
    // max-width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 1;
    transform: translateX(101%);
    opacity: 0;
    transition: all 1s ease;
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
    &.activo {
        transform: translateX(0);
        opacity: 1;
    }
    &__nav {
        width: 100%;
        height: 100vh;
        background-color: rgb(4, 4, 4);
        z-index: 5;
    }
    &__ul {
        width: 100%;
        height: 100%;
        @include flex (row nowrap , center , center);
    }
    &__li {
        width: 25%;
        height: 100%;
        // background-color: rgba(255, 217, 0, 0.705);
        color: white;
        text-align: center;
        font-family: "Monument Extendend Regular";
        text-transform: uppercase;
        font-size: 2em;
        @include flex (row nowrap, center, center);
        border-right: 1px solid white;
        border-right: 1px solid rgba(94, 94, 94, 0.748);
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    &__pestana {
        width: 25%;
        height: 100%;
        min-height: 1em;
        // background-color: red;
        text-align: center;
        font-family: "Monument Extendend Regular";
        text-transform: uppercase;
        font-size: 2em;
        @include flex (column nowrap, center, center);
        transition: all .5s ease;
        border-right: 1px solid rgba(94, 94, 94, 0.748);
        opacity: .5;
        &:hover {
            opacity: 1;
        }
        &.activo {
            min-height: 4em;
        }
    }
    &__titulo {
        transition: all .5s ease;
        color: white;
        &.activo {
            margin: .7em 0 0 0;
        }
    }
    &__proyectos {
        height: 0;
        overflow: hidden;
        font-size: .5em;
        transition: all .5s ease;
        color: white;
        &.activo {
            height: 4em;
            margin: 1em 0 0 0;
        }
    }
    &__h3 {
        
        &::after {
            content: '';
        }
    }
}

.boton {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 2em;
    height: 2em;
    // background-color: white; 
    z-index: 6;
    transition: all 1s ease;
    display: none;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
    &.activo {
        &::before {
            transform: rotate(45deg) translateY(7px) translateX(6px);
        }
        &::after {
            transform: rotate(-45deg) translateY(-4px) translateX(6px);
        }
    }
    &::before {
        content: '';
        width: 70%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: calc(25% - 1px);
        left: calc(50% - 35%);
        transition: all 1s ease;
    }
    &::after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: calc(25% - 1px);
        right: calc(50% - 25%);
        transition: all 1s ease;
    }
}

.nav {
    width: 100%;
    max-width: 70%;
    z-index: 6;
    position: fixed;
    top: 0;
    left: calc(50% - 35%);
    margin: 1em 0;
    transition: all .5s ease;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    &.activo {
        transform: translateY(-101%);
    }
    &__ul {
        width: 100%;
        min-height: 6vh;
        @include flex (row nowrap, space-around , center);
    }
    &__li {
        width: 100%;
        text-transform: uppercase;
        font-family: var(--fuenteParrafos);
        font-size: 1.1em;
        transition: all .5s ease;
        &.texto {
            &.activo {
                opacity: 1;
                font-size: 1.4em;
            }
        }
    }
    &__rrss {
        width: 100%;
        @include flex ( row nowrap , center , center);
    }
    &__a {
        font-size: 1.2em;
        color: var(--blancoTitulos);
    }
    &__logo {
        width: 100%;
    }
    &__img {
        width: 100%;
        max-width: 1.5em;
        margin: 0 1em 0 0;
        opacity: .7;
        transition: all .5s ease;
        &.activo {
            opacity: 1;
            max-width: 2em;
        }
    }
}

.inicio {
    width: 100%;
    height: 100vh;
    position: relative;
    // &__circulo {
    //     width: 100%;
    //     max-width: 30%;
    //     position: absolute;
    //     top: 23.5%;
    //     left: calc(50% - 15%);
    //     opacity: .5;
    //     animation: rotarCirc 30s infinite linear;
    //     z-index: -1;
    //     @media screen and (max-width: 1900px) {
    //         display: none;
    //     }
    // }
    &__titulos {
        width: 100%;
        height: 100%;
        @include flex (column nowrap , center , center);
    }
    &__h1 {
        font-family: var(--fuenteTitulos);
        color: var(--negroFondo);
        font-size: 2.5em;
        opacity: .8;
        text-transform: uppercase;
        // z-index: 1;
    }
    &__h2 {
        font-family: var(--fuenteParrafos);
        color: var(--blancoTitulos);
        font-size: 1.7em;
        z-index: 1;
        opacity: .8;
        margin: 1em 0 0 0;
        // text-transform: uppercase;
    }
}

.about {
    width: 100%;
    &__h2 {
        font-size: 2em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        text-transform: uppercase;
        margin: 2em 0 2em 0;
        opacity: 0;
        transform: translateY(200%);
        transition: all 1s ease;
        &.activo {
            opacity: 1;
            transform: translateY(0) translateX(5%);
        }
        &.activoArriba {
            opacity: 0;
            transform: translateX(10%);
        }
    }
    &__informacion {
        width: 100%;
        min-height: 100%;
    }
    &__parrafo {
        width: 100%;
        min-height: 100%;
        @include flex (column nowrap , center , center);
    }
    &__tecnologias{
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 3em;
        color: var(--blancoParrafos);
        text-align: center;
        opacity: 0;
        transform: translateY(50%);
        transition: all .5s linear;
        margin: 1em 0 0 0;
        &:first-child {
            transition-delay: .25s;
        }
        &:nth-child(2) {
            transition-delay: .5s;
        }
        &:nth-child(3) {
            transition-delay: .75s;
        }
        &:nth-child(4) {
            transition-delay: 1s;
        }
        &:nth-child(5) {
            transition-delay: 1.25s;
        }
        @media screen and (max-width: 1024px) {
            font-size: 2.5em;
        }
        &.activo {
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__adobe {
        margin: 2em 0;
        @include flex (row nowrap, center , center);
    }
    &__estatico {
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 2em;
        color: var(--blancoParrafos);
        text-align: center;
        letter-spacing: .1em;
        margin: 1em 3em;
        transform: translateX(40%);
        opacity: 0;
        transition: all 1s ease;
        @media screen and (max-width: 1024px) {
            font-size: 1.5em;
        }
        &.activo {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &__dinamico {
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 2em;
        color: var(--blancoParrafos);
        text-align: center;
        letter-spacing: .1em;
        margin: 1em 3em;
        transform: translateX(-40%);
        opacity: 0;
        transition: all 1s ease;
        @media screen and (max-width: 1024px) {
            font-size: 1.5em;
        }
        &.activo {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &__descripcion {
        width: 100%;
        max-width: 35em;
        height: 100%;
        // background-color: darkblue;
        margin: 15em auto;
        @include flex ( column nowrap , center , space-around);
        transition: all 1s ease .2s;
        &.activo {
            opacity: 0;
            transform: translateX(-200%);
        }
    }
    &__saludo {
        // width: 100%;
        // height: 100%;
        font-family: var(--fuenteTitulos);
        font-size: 2.5em;
        color: var(--blancoTitulos);
        transform: translateY(200%) translateX(40%);
        opacity: 0;
        transition: all .5s ease;
        &.activo {
            opacity: 1;
            transform: translateY(0) translateX(40%);
        }
    }
    &__estudios {
        width: 100%;
        // background-color: red;
        font-family: var(--fuenteParrafos);
        font-size: 1.5em;
        color: var(--blancoParrafos);
        text-align: center;
        margin: 2em 0 0 0;
        opacity: 0;
        transform: translateY(150%) translateX(-25%);
        transition: all 1.5s ease;
        letter-spacing: .05em;
        &.activoIzq {
            opacity: 1;
            transform: translateY(0) translateX(-25%);
        }
    }
    &__derecha {
        width: 100%;
        // background-color: red;
        font-family: var(--fuenteParrafos);
        font-size: 1.5em;
        color: var(--blancoParrafos);
        text-align: center;
        margin: 2em 0 0 0;
        transform: translateY(150%) translateX(25%);
        opacity: 0;
        transition: all 1.5s ease;
        letter-spacing: .05em;
        &.activoIzq {
            opacity: 1;
            transform: translateY(0) translateX(25%);
        }
    }
}

.trabajos {
    width: 100%;
    max-width: 40em;
    min-height: 100%;
    // background-color: blueviolet;
    margin: 10em auto;
    @include flex (column nowrap , center , center);
    &__h2 {
        font-size: 3em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        transform: translateY(200%);
        opacity: 0;
        transition: all 1s ease;
        &.activo {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__p {
        font-size: 2em;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        position: relative;
        cursor: pointer;
        margin: 1em 0;
        transform: translateY(200%);
        opacity: 0;
        transition: all 1s ease .5s;
        &.activo {
            opacity: 1;
            transform: translateY(0);
        }
        &:hover {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 1em;
                width: 90%;
                height: 2px;
                background-color: var(--blancoTitulos);
                animation: lineaTitu 1s both;
                transform: scale(0);
                transform-origin: left;
            }
        }
    }
}

.lightbox {
    width: 100%;
    max-width: 90em;
    height: 100vh;
    max-height: 35em;
    position: fixed;
    top: calc(50% - 30vh);
    left: calc(50% - 45em);
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 6;
    @include flex (column nowrap , center , center);
    transform: translateX(150%);
    transition: all 1s ease;
    padding: 1em;
    backdrop-filter: blur(.5em);
    @media screen and (max-width: 1024px) {
        max-width: 60em;
        left: calc(50% - 30em);
    }
    &.activo {
        transform: translateX(0);
    }
    &__boton {
        cursor: pointer;
        width: 1em;
        height: 1em;
        color: white;
        // background-color: red;
        font-size: 4em;
        transform: rotate(45deg);
        position: absolute;
        top: -12%;
        right: calc(50% - .5em);
        z-index: 1;
        opacity: .5;
        transition: all .5s ease;
        &.activo {
            opacity: 1;    
        }

    }
    &__index {
        width: 100%;
        height: 20%;
        // background-color: gray;
        @include flex (column nowrap , center , center);
        position: relative;
    }
    &__portfolio {

    }
    &__p {
        color: var(--blancoParrafos);
        text-align: center;
        font-family: var(--fuenteParrafos);
        font-size: 1.2em;
        margin: .5em 0;
    }
}

.linea {
    width: 100%;
    max-width: 70em;
    height: 1px;
    margin: auto;
    background-color: var(--blancoParrafos);
    // border: 1px solid black;
    @media screen and (max-width: 1024px) {
        max-width: 45em;
    }
}

.lineaV {
    width: 2px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 1px);
    background-color: var(--blancoParrafos);
}

.flechaIzq {
    width: 100%;
    max-width: 1em;
    position: absolute;
    top: calc(50% - .5em);
    left: 5%;
    color: white;
    cursor: pointer;
}

.flechaDer {
    width: 100%;
    max-width: 1em;
    position: absolute;
    top: calc(50% - .5em);
    right: 5%;
    color: white;
    cursor: pointer;
}

.portfolio {
    width: 100%;
    height: 80%;
    @include flex ( row nowrap , center , center );
    transform: translateY(50%);
    opacity: 0;
    // background-color: red;
    transition: all 1s linear 1s;
    position: relative;
    &.activo {
        transform: translateY(0);
        opacity: 1;
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        // filter: blur(1em);
        transition: all 1s ease;
        opacity: 0;
        &.activo {
            opacity: .6;
        }
    }
    &__diseno {
        width: 50%;
        height: 100%;
        @include flex (column nowrap , space-between , flex-start);
        margin: 3em 0 0 0;
    }
    &__h3 {
        font-size: 1.8em;
        font-family: var(--fuenteTitulos);
        color: white;
        // opacity: .6;
        transition: all 1s ease;
        margin: 0 0 0 2em;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
            font-size: 1.2em;
        }
    }
    &__a {
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        margin: 0 0 2em 2em;
        font-size: 2em;
        transition: all 1s ease;
        border: 1px solid var(--blancoParrafos);
        padding: .3em;
        border-radius: .1em;
        position: relative;
        z-index: 1;
        transition: all .5s ease;
        &:hover {
            transition: all .5s ease;
            color: transparent;
            -webkit-text-stroke: .02em var(--colorTextStroke);
            text-shadow:
            0 0 1px var(--colorTextStroke),
            0 0 2px var(--colorTextStroke),
            0 0 3px var(--colorTextStroke),
            0 0 4px var(--colorTextStroke),
            0 0 5px var(--colorTextStroke);
            color: transparent;
            border: 1px solid var(--colorTextStroke);
        }
    }
    &__proyecto {
        width: 50%;
        height: 100%;
        transition: all 1s ease;
        margin: 3em 0 0 0;
    }
    &__h2 {
        font-size: 2.5em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoParrafos);
        // opacity: .6;
        transition: all 1s ease;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
            font-size: 2em;
        }
    }
    &__index {
        font-size: .6em;
        color: var(--blancoParrafos);
        @media screen and (max-width: 1024px) {
            font: .3em;
        }
    }
    &__p {
        font-size: 1em;
        font-weight: 400;
        width: 60%;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        // opacity: .6;
        transition: all 1s ease;
    }
}

.footer {
    width: 100%;
    height: 4vh;
    max-width: 80em;
    margin: 2em auto 2em auto;
    // background-color: red;
    @include flex (row nowrap , space-between , center);
    // text-transform: uppercase;
    &__correo {
        width: 50%;
        height: 100%;
        font-family: var(--fuenteParrafos);
        color: white;
        font-size: 1.2em;
        opacity: 0;
        transform: translateX(101%);
        transition: all .5s ease;
        &.activo {
            opacity: .8;
            transform: translateX(0);
        }
        @media screen and (max-width: 1024px) {
            margin: 0 0 0 4em; 
        }
    }
    &__rrss {
        width: 50%;
        height: 100%;
        @include flex (row nowrap , flex-end , center);
        opacity: 0;
        transform: translateX(101%);
        transition: all .5s ease .5s;
        &.activo {
            opacity: .8;
            transform: translateX(0);
        }
    }
    &__img {
        width: 100%;
        max-width: 2em;
        height: 100%;
        color: white;
        margin: 0 1em 0 0;
        transition: all .5s ease;
        &.activo {
            max-width: 3em;
        }
    }
}

//Animaciones 

@keyframes trasladarCirculo1 {
    0% {
        transform: translateX(0) translateY(0) scale(1);      
    }
    25% {
        transform: translateX(10%) translateY(0) scale(1.4);
    }
    50% {
        transform: translateX(20%) translateY(0) scale(1.6);        
    }
    75% {
        transform: translateX(10%) translateY(0) scale(1.4);
        
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        
    }
}
@keyframes trasladarCirculo2 {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    25% {
        transform: translateX(-10%) translateY(0) scale(1.4);
    }
    50%  {
        transform: translateX(-20%) translateY(0) scale(1.2);
    }
    75% {
        transform: translateX(-10%) translateY(0) scale(1.4);
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
    }
}
@keyframes trasladarCirculo3 {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    25% {
        transform: translateX(0) translateY(5%) scale(1.4);
    }
    50% {
        transform: translateX(0) translateY(10%) scale(1.6);
    }
    75% {
        transform: translateX(0) translateY(5%) scale(1.4);
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
    }
}
@keyframes lineaTitu {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rotarCirc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



