@import 'reset/variables' , 'reset/reset' , 'reset/mixins' , 'reset/keyframes';

.body {
    background-color: var(--negroFondo);
    cursor: url("../assets/punto_cursor.png"), default;
    overflow-x: hidden;
    // @media screen and (max-width: 700px) {
    //     cursor: none;
    // }
}

.cookies {
    width: 100%;
    max-width: 30em;
    height: 20vh;
    background-color: gray;
    position: fixed;
    bottom: 20%;
    right: 0;
    @include flex (column nowrap , space-around , center);
    transform: translateX(0);
    transition: all .5s ease;
    z-index: 1;
    &.activo {
        transform: translateX(101%);
    }
    &__p {

    }
    &__button {
        background-color: green;
        padding: .5em 1.2em;
    }
}

.raton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #5580a92c;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    margin: -.60em;
    z-index: 10;
    opacity: .7;
    transition: all 0.1s linear;
    &.activo {
        width: 4em;
        height: 4em;
        margin: -2em;
        background-color: transparent;
    }
    @media screen and (max-width: 700px) {
        opacity: 0;
    }
}

.circulos {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s ease;
    // overflow-x: hidden;
    &__circulo1{
        width: 25em;
        height: 25em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: #7995af;
        top: calc(50% - 15em);
        left: calc(45% - 15em);
        position: absolute;
        animation: trasladarCirculo1 30s infinite linear;
        z-index: 2;
        opacity: .6;
        transition: all 1.5s ease;
      } &__circulo2{
        width: 30em;
        height: 30em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: var(--circuloInicio);
        top: 32%;
        right: calc(45% - 15em);
        position: absolute;
        animation: trasladarCirculo2 30s infinite linear;
        z-index: 2;
        opacity: .5;
        transition: all .5s ease;
        &.activo {
            background-color: var(--circuloAbout);
        }
        &.activoLight {
            background-color: var(--circuloWorks);
        }
        &.activoFilmin {
            background-color: #02ffa1;
        }
        &.activoPort {
            background-color: var(--circuloInicio);
        }
    } &__circulo3{
        width: 30em;
        height: 30em;
        border-radius: 50%;
        filter: blur(4em);
        background-color: #929aa2;
        top: calc(45% - 15em);
        right: calc(50% - 15em);
        position: absolute;
        animation: trasladarCirculo3 30s infinite linear;
        opacity: .6;
        transition: all 1.5s ease;
      }
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 1;
    transform: translateX(-101%);
    opacity: 0;
    transition: all 1s ease;
    display: none;
    @media screen and (max-width: 1024px) {
        display: block;
    }
    &.activo {
        transform: translateX(0);
        opacity: 1;
    }
    &__nav {
        width: 100%;
        height: 100vh;
    }
    &__ul {
        width: 100%;
        height: 100%;
        @include flex (column nowrap , center, center); 
    }
    &__li {
        width: 100%;
        height: 100%;  
        @include flex (row nowrap , center, center); 
    }
    &__a {
        font-family: var(--fuenteTitulos);
        font-size: 2em;
        text-transform: uppercase;
        color: var(--blancoTitulos);
    }
    &__pestanaWork {
        width: 100%;
        height: 100%;
        @include flex (column nowrap , center, center);
    }
    &__pestanaContacto {
        width: 100%;
        height: 100%;
        @include flex (column nowrap , center, center);
    }
    &__proyecto {
        height: 0vh;
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease;
        @include flex (column nowrap , space-around , center);
        &.activo {
            height: 10vh;
            opacity: 1;
            margin: 2em 0;
        }
    }
    &__proyectoContacto {
        height: 0vh;
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease;
        @include flex (row nowrap , space-around , center);
        &.activo {
            height: 10vh;
            opacity: 1;
            margin: 2em 0;
        }
    }
    &__enlaceGit {
        font-family: var(--fuenteParrafos);
        color: var(--blancoTitulos);
        text-align: center;
        font-size: 2em;
    }
    &__enlaceRrss {
        font-family: var(--fuenteParrafos);
        color: var(--blancoTitulos);
        text-align: center;
        font-size: 2em;
    }
    &__img {
        width: 30%;
    }
}

.boton {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 2em;
    height: 2em;
    // background-color: white; 
    z-index: 6;
    transition: all 1s ease;
    display: none;
    @media screen and (max-width: 1024px) {
        display: block;
    }
    &.activo {
        &::before {
            transform: rotate(45deg) translateY(7px) translateX(6px);
        }
        &::after {
            transform: rotate(-45deg) translateY(-4px) translateX(6px);
        }
    }
    &::before {
        content: '';
        width: 70%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: calc(25% - 1px);
        left: calc(50% - 35%);
        transition: all 1s ease;
    }
    &::after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: calc(25% - 1px);
        right: calc(50% - 25%);
        transition: all 1s ease;
    }
}

.nav {
    width: 100%;
    max-width: 70%;
    z-index: 6;
    position: fixed;
    top: 0;
    left: calc(50% - 35%);
    margin: 1em 0;
    transition: all .5s ease;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    &.activo {
        transform: translateY(-101%);
    }
    &__ul {
        width: 100%;
        min-height: 6vh;
        @include flex (row nowrap, space-around , center);
    }
    &__li {
        width: 100%;
        text-transform: uppercase;
        font-family: var(--fuenteParrafos);
        font-size: 1.1em;
        transition: all .5s ease;
        &.texto {
            &.activo {
                opacity: 1;
                font-size: 1.2em;
            }
        }
    }
    &__rrss {
        width: 100%;
        @include flex ( row nowrap , center , center);
    }
    &__a {
        font-size: 1.2em;
        color: var(--blancoTitulos);
    }
    &__logo {
        width: 100%;
    }
    &__img {
        width: 100%;
        max-width: 1.2em;
        margin: 0 1em 0 0;
        opacity: .7;
        transition: all .5s ease;
        &.activo {
            opacity: 1;
            max-width: 1.5em;
        }
    }
}

.inicio {
    width: 100%;
    height: 100vh;
    position: relative;
    &__titulos {
        width: 100%;
        height: 100%;
        @include flex (column nowrap , center , center);
    }
    &__h1 {
        font-family: var(--fuenteTitulos);
        color: var(--negroFondo);
        font-size: 2.5em;
        opacity: .8;
        text-transform: uppercase;
        transition: all .75s ease;
        &.activoVuelta {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    &__h2 {
        font-family: var(--fuenteParrafos);
        color: var(--blancoTitulos);
        font-size: 1.7em;
        z-index: 1;
        opacity: .8;
        margin: 1em 0 0 0;
        transition: all .5s ease;
        &.activoVuelta {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
}

.about {
    width: 100%;
    &__h2 {
        font-size: 2em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        text-transform: uppercase;
        margin: 2em 0 2em 0;
        opacity: 0;
        transform: translateY(200%);
        transition: all 1s ease;
        &.activo {
            opacity: 1;
            transform: translateY(0) translateX(5%);
        }
        &.activoArriba {
            opacity: 0;
            transform: translateX(10%);
        }
    }
    &__informacion {
        width: 100%;
        min-height: 100%;
    }
    &__parrafo {
        width: 100%;
        min-height: 100%;
        @include flex (column nowrap , center , center);
    }
    &__tecnologias{
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 3em;
        color: var(--blancoParrafos);
        text-align: center;
        opacity: 0;
        transform: translateY(50%);
        transition: all .5s linear;
        margin: 0 0 1em 0;
        &:first-child {
            transition-delay: .1s;
        }
        &:nth-child(2) {
            transition-delay: .2s;
        }
        &:nth-child(3) {
            transition-delay: .25s;
        }
        &:nth-child(4) {
            transition-delay: .3s;
        }
        &:nth-child(5) {
            transition-delay: .35s;
        }
        @media screen and (max-width: 1024px) {
            font-size: 2.5em;
        }
        @media screen and (max-width: 850px) {
            font-size: 1.8em;
        }
        @media screen and (max-width: 500px) {
            font-size: 1.3em;
        }
        &.activo {
            transform: translateY(0);
            opacity: 1;
        }
        &.activoVuelta {
            transform: translateY(-50%); 
            opacity: 0;
        }
    }
    &__adobe {
        margin: 2em 0;
        @include flex (row nowrap, center , center);
    }
    &__estatico {
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 2em;
        color: var(--blancoParrafos);
        text-align: center;
        letter-spacing: .1em;
        margin: 1em 3em;
        transform: translateX(40%);
        opacity: 0;
        transition: all 1s ease;
        @media screen and (max-width: 1024px) {
            font-size: 1.5em;
        }
        @media screen and (max-width: 850px) {
            font-size: 1em;
        }
        @media screen and (max-width: 500px) {
            font-size: .8em;
        }
        &.activo {
            opacity: 1;
            transform: translateX(0);
        }
        &.activoVuelta {
            opacity: 0;
            transform: translateX(-30%);
        }
    }
    &__dinamico {
        font-family: var(--fuenteTitulos);
        text-transform: uppercase;
        font-size: 2em;
        color: var(--blancoParrafos);
        text-align: center;
        letter-spacing: .1em;
        margin: 1em 3em;
        transform: translateX(-40%);
        opacity: 0;
        transition: all 1s ease;
        @media screen and (max-width: 1024px) {
            font-size: 1.5em;
        }
        @media screen and (max-width: 850px) {
            font-size: 1em;
        }
        @media screen and (max-width: 500px) {
            font-size: .8em;
        }
        &.activo {
            opacity: 1;
            transform: translateX(0);
        }
        &.activoVuelta {
            opacity: 0;
            transform: translateX(30%);
        }
    }
    &__descripcion {
        width: 100%;
        max-width: 35em;
        height: 100%;
        // background-color: darkblue;
        margin: 5em auto;
        @include flex ( column nowrap , center , space-around);
        transition: all 1s ease .2s;
        &.activo {
            opacity: 0;
            transform: translateX(-200%);
        }
    }
    &__saludo {
        // width: 100%;
        // height: 100%;
        font-family: var(--fuenteTitulos);
        font-size: 2.5em;
        color: var(--blancoTitulos);
        transform: translateY(200%) translateX(40%);
        opacity: 0;
        transition: all 1s ease;
        margin: auto;
        &.activo {
            opacity: 1;
            transform: translateY(0) translateX(0);
        }
        &.activoVuelta {
            opacity: 0;
            transform: translateY(-30%) translateX(30%);
        }
    }
    &__estudios {
        width: 100%;
        // background-color: red;
        font-family: var(--fuenteParrafos);
        font-size: 1.5em;
        color: var(--blancoParrafos);
        text-align: center;
        margin: 2em 0 0 0;
        opacity: 0;
        transform: translateY(150%) translateX(-25%);
        transition: all 1.5s ease;
        letter-spacing: .05em;
        @media screen and (max-width: 1150px) {
            transform: translateY(150%);
        }
        @media screen and (max-width: 500px) {
            font-size: .9em;
            max-width: 70%;
            margin: 1em auto;
        }
        &.activoIzq {
            opacity: 1;
            transform: translateY(0) translateX(0);
            @media screen and (max-width: 1150px) {
                transform: translateX(0);
            }
        }
        &.activoVuelta {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    &__derecha {
        width: 100%;
        // background-color: red;
        font-family: var(--fuenteParrafos);
        font-size: 1.5em;
        color: var(--blancoParrafos);
        text-align: center;
        margin: 2em 0 0 0;
        transform: translateY(150%) translateX(-25%);
        opacity: 0;
        transition: all 1.5s ease;
        letter-spacing: .05em;
        @media screen and (max-width: 1150px) {
            transform: translateY(150%) translateX(0);
        }
        @media screen and (max-width: 500px) {
            font-size: .9em;
            max-width: 70%;
            margin: 1em auto;
        }
        &.activoIzq {
            opacity: 1;
            transform: translateY(0) translateX(0);
            @media screen and (max-width: 1150px) {
                transform: translateX(0);
            }
        }
        &.activoVuelta {
            opacity: 0;
            transform: translateX(100%);
        }
    }
}

.trabajos {
    width: 100%;
    min-height: 100%;
    @include flex (column nowrap , flex-start , flex-start);
    &__h2 {
        font-size: 2em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        text-transform: uppercase;
        margin: 0 0 2em 2em;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s ease;
        @media screen and (max-width: 700px) {
            margin: 0 0 1em 1em;
        }
        &.activo {
            opacity: 1;
            transform: translateY(0);
        }
        &.activoArriba {
            opacity: 0;
            transform: translateX(10%);
        }
    }
    &__p {
        width: 100%;
        font-size: 2em;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        position: relative;
        cursor: pointer;
        margin: 1em 0;
        transform: translateY(200%);
        opacity: 0;
        transition: all 1s ease .5s;
        text-align: center;
        &.activo {
            opacity: 1;
            transform: translateY(0);
        }
        &:hover {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 49%;
                width: 2em;
                height: 2px;
                background-color: var(--blancoTitulos);
                animation: lineaTitu 1s both;
                transform: scale(0);
                transform-origin: left;
            }
        }
    }
}

.portfolioScroll {
    width: 100%;
    height: 30vh;
    transition: all 1s linear 1s;
    position: relative;
    // margin: 0 0 2em 0;
    transform: translateY(50%);
    opacity: 0;
    transition: all 1s ease;
    &.activo {
        opacity: 1;
        transform: translateY(0);
    }
    @media screen and (max-width: 700px) {
        min-height: 50vh;
        margin: 0;
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all .5s ease;
        &.activo {
            opacity: .7;
        }
        @media screen and (max-width: 700px) {
            height: 100%;
            opacity: 0;
            transition: all 2s ease 1s;
            &.activo {
                opacity: 0;
            }
            &.activoMovil {
                opacity: .7;
            }
        }
    }
    &__completo {
        width: 100%;
        height: 30vh;
        // background-color: red;
        @include flex (row nowrap , flex-start , center);
        @media screen and (max-width: 700px) {
            @include flex (column nowrap , center , center );
        }
    }
    &__diseno {
        width: 50%;
        height: 100%;
        @include flex (row nowrap , flex-start , center);
        transition: all 1s ease;
        &.activo {
            transform: translateY(-40%);
        }
        @media screen and (max-width: 700px) {
            @include flex (column nowrap , center , center );
            width: 100%;
            &.activo {
                transform: translateY(0);
            }
        }
    }
    &__h3 {
        font-size: 1.8em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        transition: all 1s ease;
        margin: 0 0 0 2em;
        text-transform: uppercase;
        @media screen and (max-width: 700px) {
            margin: 0;
        }
    }
    &__proyecto {
        width: 50%;
        height: 100%;
        transition: all 1s ease;
        margin: 3em 0 0 0;
        @include flex (column nowrap , center , flex-start);
        &.activo {
            transform: translateY(-40%);
        }
        @media screen and (max-width: 700px) {
            width: 100%;
            @include flex ( column nowrap , flex-start , center );
            margin: 0;
            &.activo {
                transform: translateY(0);
            }
        }
    }
    &__index {
        font-size: 1em;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        @media screen and (max-width: 700px) {
            margin: 0 0 1em 0;
        }
    }
    &__h2 {
        font-size: 1.8em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        transition: all 1s ease;
        text-transform: uppercase;
    }
    &__texto {
        font-size: 1.2em;
        font-weight: 400;
        width: 60%;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        transition: all 1s ease;
        @media screen and (max-width: 700px) {
            width: 90%;
            margin: 1em 0 0 0;
            text-align: center;
        }
    }
    &__a {
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        margin: 0 0 2em 2em;
        font-size: 2em;
        transition: all 1s ease;
        border: 1px solid var(--blancoParrafos);
        padding: .3em;
        border-radius: .1em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: all 1s ease;
        opacity: 0;
        transform: translateY(0);
        &.activo {
            opacity: 1;
            transform: translateY(30%);
        }
        &:hover {
            transition: all .5s ease;
            color: transparent;
            -webkit-text-stroke: .02em var(--colorTextStroke);
            text-shadow:
            0 0 1px var(--colorTextStroke),
            0 0 2px var(--colorTextStroke),
            0 0 3px var(--colorTextStroke),
            0 0 4px var(--colorTextStroke),
            0 0 5px var(--colorTextStroke);
            color: transparent;
            border: 1px solid var(--colorTextStroke);
        }
        @media screen and (max-width: 700px) {
            opacity: 1;
            left: 24%;
            bottom: -10%;
            &.activo {
                transform: translateY(0);
            }
        }
    }
}

.filminScroll {
    width: 100%;
    height: 30vh;
    transition: all 1s linear 1s;
    position: relative;
    margin: 0 0 2em 0;
    transform: translateY(50%);
    opacity: 0;
    transition: all 1s ease;
    &.activo {
        opacity: 1;
        transform: translateY(0);
    }
    @media screen and (max-width: 700px) {
        min-height: 50vh;
        margin: 0;
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all .5s ease;
        &.activo {
            opacity: .7;
        }
        @media screen and (max-width: 700px) {
            opacity: .7;
            display: none;
        }
    }
    &__imgMin {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .7;
        z-index: -1;
        display: none;
        @media screen and (max-width:700px) {
            display: block;
        }
    }
    &__completo {
        width: 100%;
        height: 30vh;
        @include flex (row nowrap , flex-start , center);
        @media screen and (max-width: 700px) {
            @include flex (column nowrap , center , center );
        }
    }
    &__diseno {
        width: 50%;
        height: 100%;
        @include flex (row nowrap , flex-start , center);
        transition: all 1s ease;
        &.activo {
            transform: translateY(-40%);
        }
        @media screen and (max-width: 700px) {
            @include flex (column nowrap , center , center );
            width: 100%;
            &.activo {
                transform: translateY(0);
            }
        }
    }
    &__h3 {
        font-size: 1.8em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        transition: all 1s ease;
        margin: 0 0 0 2em;
        text-transform: uppercase;
        @media screen and (max-width: 700px) {
            margin: 0;
            font-size: 1.5em;
        }
    }
    &__proyecto {
        width: 50%;
        height: 100%;
        transition: all 1s ease;
        margin: 3em 0 0 0;
        @include flex (column nowrap , center , flex-start);
        &.activo {
            transform: translateY(-40%);
        }
        @media screen and (max-width: 700px) {
            width: 100%;
            margin: 0;
            @include flex ( column nowrap , flex-start , center );
            &.activo {
                transform: translateY(0);
            }
        }
    }
    &__index {
        font-size: 1em;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        @media screen and (max-width: 700px) {
            margin: 0 0 1em 0;
        }
    }
    &__h2 {
        font-size: 1.8em;
        font-family: var(--fuenteTitulos);
        color: var(--blancoTitulos);
        transition: all 1s ease;
        text-transform: uppercase;
    }
    &__texto {
        font-size: 1.2em;
        font-weight: 400;
        width: 60%;
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        transition: all 1s ease;
        @media screen and (max-width: 700px) {
            width: 90%;
            margin: 1em 0 0 0;
            text-align: center;
        }
    }
    &__a {
        font-family: var(--fuenteParrafos);
        color: var(--blancoParrafos);
        margin: 0 0 2em 2em;
        font-size: 2em;
        transition: all 1s ease;
        border: 1px solid var(--blancoParrafos);
        padding: .3em;
        border-radius: .1em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: all 1s ease;
        opacity: 0;
        transform: translateY(0);
        &.activo {
            opacity: 1;
            transform: translateY(30%);
        }
        &:hover {
            transition: all .5s ease;
            color: transparent;
            color: #02ffa1;
            text-shadow:
            0 0 1px #02ffa1,
            0 0 2px #02ffa1,
            0 0 3px #02ffa1,
            0 0 4px #02ffa1,
            0 0 5px #02ffa1;
            color: transparent;
            border: 1px solid #02ffa1;
        }
        @media screen and (max-width: 700px) {
            opacity: 1;
            left: 24%;
            bottom: -10%;
            &.activo {
                transform: translateY(0);
            }
        }
    }
}

.footer {
    width: 100%;
    height: 4vh;
    max-width: 80em;
    margin: 2em auto 2em auto;
    @include flex (row nowrap , space-between , center);
    @media screen and (max-width: 700px) {
        @include flex (column nowrap , center , center);
        height: 100%;
        width: 100%;
    }
    &__correo {
        width: 50%;
        height: 100%;
        font-family: var(--fuenteParrafos);
        color: white;
        font-size: 1.2em;
        opacity: 0;
        transform: translateX(101%);
        transition: all .5s ease;
        &.activo {
            opacity: .8;
            transform: translateX(0);
        }
        @media screen and (max-width: 1024px) {
            margin: 0 0 0 4em; 
        }
        @media screen and (max-width: 980px) {
            margin: 0 1em;
            font-size: 1em;
        }
        @media screen and (max-width: 700px) {
            text-align: center;
            margin: 0;
            font-size: 1.3em;
            width: 80%;
        }
    }
    &__rrss {
        width: 50%;
        height: 100%;
        @include flex (row nowrap , flex-end , center);
        opacity: 0;
        transform: translateX(101%);
        transition: all .5s ease .5s;
        &.activo {
            opacity: .8;
            transform: translateX(0);
        }
        @media screen and (max-width: 700px) {
            @include flex (row nowrap , center , center);
        }
    }
    &__img {
        width: 100%;
        max-width: 2em;
        height: 100%;
        color: white;
        margin: 0 1em 0 0;
        transition: all .5s ease;
        &.activo {
            max-width: 2.2em;
        }
        @media screen and (max-width: 700px) {
            margin: 2em;
            transform: translateY(40%);
            &.activo {
                max-width: 2em;
            }
        }
    }
}

//Animaciones 

@keyframes trasladarCirculo1 {
    0% {
        transform: translateX(0) translateY(0) scale(1);      
    }
    25% {
        transform: translateX(10%) translateY(0) scale(1.4);
    }
    50% {
        transform: translateX(20%) translateY(0) scale(1.6);        
    }
    75% {
        transform: translateX(10%) translateY(0) scale(1.4);
        
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        
    }
}
@keyframes trasladarCirculo2 {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    25% {
        transform: translateX(-10%) translateY(0) scale(1.4);
    }
    50%  {
        transform: translateX(-20%) translateY(0) scale(1.2);
    }
    75% {
        transform: translateX(-10%) translateY(0) scale(1.4);
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
    }
}
@keyframes trasladarCirculo3 {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    25% {
        transform: translateX(0) translateY(5%) scale(1.4);
    }
    50% {
        transform: translateX(0) translateY(10%) scale(1.6);
    }
    75% {
        transform: translateX(0) translateY(5%) scale(1.4);
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes lineaTitu {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rotarCirc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}