@font-face {
	font-family: "Monument Extendend Regular";
	src: url("../../tipografias/MonumentExtended-Regular.otf");
	font-display: swap;
}

@font-face {
	font-family: "Studio Grotesk Bold";
	src: url("../../tipografias/StudioGrotesk-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Studio Grotesk Regular";
	src: url("../../tipografias/StudioGrotesk-Regular.ttf");
	font-display: swap;
}

@mixin flex ($a, $b, $c) {
    display: flex;
    flex-flow: $a;
    justify-content: $b;
    align-items: $c;
}

@mixin tfix(){
	transform: perspective(1px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@mixin neo () {
    border-radius: 15px;
    background: linear-gradient(315deg, #292929, #222222);
    box-shadow: -1.5px -1.5px 4px #3f3f3f;
}
