/* Aquí definimos las Custom properties */
:root{
    --negroFondo     : #100f0f;
    --blancoTitulos  : white;
    --blancoParrafos : white;
    --fuenteTitulos  : "Monument Extendend Regular";
    --fuenteParrafos : "Bak-Bak";
}
    

