/* Aquí definimos las Custom properties */
:root{
    --negroFondo     : #100f0f;
    --blancoTitulos  : rgba(214, 214, 214, 0.904);
    --blancoParrafos : rgba(255, 255, 255, 0.678);
    --fuenteTitulos  : "Studio Grotesk Bold";
    --fuenteParrafos : "Studio Grotesk Regular";
    --colorInicio    : rgb(148, 148, 148);
    --colorTextStroke: #d632ff7e;
}
    

