/* Aquí definimos las Custom properties */
:root{
    --negroFondo     : #100f0f;
    --blancoTitulos  : rgba(179, 179, 179, 0.904);
    --blancoParrafos : rgba(255, 255, 255, 0.678);
    --fuenteTitulos  : "Monument Extendend Regular";
    --fuenteParrafos : "Studio Grotesk Regular";
    --colorInicio    : rgb(148, 148, 148);
    --colorTextStroke: rgb(140, 8, 140);
    --circuloInicio  : rgba(140, 8, 140, 0.665);
    --circuloAbout   : #3fa295c4;
    --circuloWorks   : rgb(181, 111, 46);
}
    

